.navigation {
    display: flex;
    align-items: center;
    padding-bottom: 27px;
    gap: 9%;

    .logo {
        width: 145px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        gap: 10%;
        a {
            text-decoration: none;

            li {
                color: $color-1;
                transition: 0.2s;
                cursor: pointer;
                text-transform: uppercase;
            }
        }

        .nav-active {
            text-decoration-line: underline;
            color: $color-1;
        }
    }
}

@media only screen and (min-width: 768px) {
    .navigation {
        padding-bottom: 50px;
        .logo {
            width: 210px;
        }
        li {
            text-transform: none !important;
        }
    }
}
